footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: #666;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    /* margin-top: 5px; */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-text {
    flex-grow: 1;
    text-align: center;
}

.footer-icon {
    flex-grow: 0;
}

.footer-icon a img {
    width: 24px;
}
