* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 標題 */
.title-box {
    background-color: #657d8d;
    padding: 15px;
}
h1 {
    margin-left: 5px;
    color: #ffffff;
}

/* content + menu */
body2 {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

/* menu */
.menu {
    background-color: #f3eeee; /* 灰色 */
    height: 100vh;
    width: 300px;
    flex: 0 0 auto;
    overflow: auto;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1); /* 右侧阴影 */
}
h3 {
    margin: 20px;
    color: #282726;
    font-size: 18px
}
h3 a {
    color: #282726; /* 初始颜色 */
    text-decoration: underline;
}

h3 a:visited {
    color: #282726; /* 已访问的链接颜色 */
    text-decoration: underline;
}

h3 a:hover {
    color: #282726; /* 鼠标悬停时的颜色 */
    text-decoration: underline;
}

h3 a:active {
    color: #282726; /* 链接被点击时的颜色 */
    text-decoration: underline;
}
ul {
    list-style-type: none; /* 移除默认列表符号 */
    padding: 0;
    margin: 20px;
    text-align: left;
}
ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc; /* 添加分隔線 */
    width: 100%;
    box-sizing: border-box;
}
h4 {
    margin: 20px;
    color: #282726;
    font-size: 18px;
}
h4 a {
    color: #282726; /* 初始颜色 */
    text-decoration: underline;
}

h4 a:visited {
    color: #282726; /* 已访问的链接颜色 */
    text-decoration: underline;
}

h4 a:hover {
    color: #282726; /* 鼠标悬停时的颜色 */
    text-decoration: underline;
}

h4 a:active {
    color: #282726; /* 链接被点击时的颜色 */
    text-decoration: underline;
}
/* content */
.content {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff; 
    padding: 20px; /* 添加內邊距 */
    overflow: hidden;
    flex: 1 1 auto;
    display: flex; /* 将 content 区域设置为 flex 布局 */
    flex-direction: column; /* 垂直方向排列子元素 */
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    padding-bottom: 50px; /* 避免下緣被footer遮蓋 */
    flex: 1; /* 占据 content 区域的剩余空间 */
    overflow-y: auto; /* 添加垂直滚动条 */
}

.profile {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;  /* Adjusted width */
    height: 580px; /* Adjusted height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;  /* Center text alignment */
}

.profile img {
    width: 230px; /* 调整头像大小 */
    height: 230px; /* 调整头像大小 */
    border-radius: 50%; /* 保持圆形 */
    object-fit: cover; /* 保持图片比例 */
    margin-top: 15px;
    margin-bottom: 20px;
}
.profile-avatar {
    text-align: flex-end;
    position: relative;
    margin-bottom: 38px;
    padding-left: 80px;
    width: 230px; /* 和图片宽度一致 */
    height: 230px; /* 和图片高度一致 */
}

.profile-avatar input[type="radio"] {
    display: none;
}

.profile-avatar label {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
    margin-top: 255px; /* 调整位置，使其在图片下方 */
    margin-left: 4px;
}

.profile-avatar img {
    width: 230px; /* 调整头像大小 */
    height: 230px; /* 调整头像大小 */
    border-radius: 50%; /* 保持圆形 */
    object-fit: cover; /* 保持图片比例 */
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    margin-bottom: 40px;
    top: 0;
    left: 0;
}

.profile-avatar input[type="radio"]:checked + label img {
    opacity: 1;
}

.profile-avatar label img:hover {
    opacity: 1;
}

.profile-avatar input[type="radio"]:checked + label img {
    opacity: 1;
}


.profile p {
    margin: 5px 0;
    color: #333;
    line-height: 1.4;
    font-size: 16px;  /* Slightly larger font for readability */
    width: 100%;  /* Full width to align text properly */
    margin-bottom: 5px;
}
/* Max */
.profile-actions {
    display: flex;  /* 使用彈性佈局 */
    justify-content: space-between; /* 確保按鈕等間距 */
    margin-top: 10px;
    width: 100%; /* 使按鈕組合橫向排列 */ /* Mac*/
}

.button {
    display: inline-block;  
    /* padding: 10px 20px; */ /*原本*/
    padding: 4px 8px; /* 縮小按鈕大小 */
    margin: 2px; /* Max加 */
    text-decoration: none;
    border: none;  /* Max加 */
    border-radius: 5px;
    cursor: pointer; /* Max加 */
    transition: background-color 0.3s;
    color: white;
    font-weight: bold;
    /*原本
    margin-right: 10px; // Adds space between the buttons //
    margin-top: 15px;
    */
    background-color: #2ecc71; /* Max修改 */
}

/* 将 .current-user 的样式添加到 .menu 中 */
.menu .current-user {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 260px; /* 调整宽度 */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px; /* 调整与其他菜单项的间距 */
    margin-left: 20px; /* 左侧距离调整 */
    margin-right: 5px; /* 右侧距离调整 */
}

.menu .current-user img {
    width: 90px; /* 调整头像大小 */
    height: 90px; /* 调整头像大小 */
    border-radius: 50%; /* 保持圆形 */
    object-fit: cover; /* 保持图片比例 */
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: 0px;
}
.current-avatar {
    text-align: flex-end;
    position: relative;
    margin-bottom: 0px;
    padding-left: 25px;
    margin-right: 30px;
}

.current-avatar input[type="radio"] {
    display: none;
}

.current-avatar label {
    display: inline-block;
    align-items: center;
    width: 7px;
    height: 7px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
    margin-top: 108px;
    margin-left: 2px;
}

.current-avatar img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 5px;
    left: 2px;
}

.current-avatar input[type="radio"]:checked + label img {
    opacity: 1;
}
.current-avatar label img:hover {
    opacity: 1;
}
.current-avatar input[type="radio"]:checked + label img {
    opacity: 1;
}

.menu .current-user p {
    text-align: center;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}
.menu .current-user .current-user-information {
    flex-direction: column;
}
.menu .current-user .current-user-actions {
    position: absolute; /* 使用相对定位 */
    left: 135px; /* 将按钮靠右 */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-right: 0px;
    display: flex;
    flex-direction: column; /* 上下排列 */
}


.menu .current-user .update-profile-button {
    display: inline-block;
    background-color: #4cb1e8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
    margin-bottom: 7px;
    width: 123px; /* 调整按钮宽度 */
    height: 42px; /* 调整按钮高度 */
    text-align: center; /* 文本居中 */
    line-height: 42px; /* 与按钮高度一致，实现垂直居中 */
    font-weight: bold;
    position: static;
    margin-left: auto; /* 将按钮靠右 */
}
.menu .current-user .update-profile-button:hover {
    background-color: #2694d4;
}
.menu .current-user .log-out-button {
    display: inline-block;
    background-color: #ef7b33;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 123px; /* 调整按钮宽度 */
    height: 42px; /* 调整按钮高度 */
    text-align: center; /* 文本居中 */
    line-height: 42px; /* 与按钮高度一致，实现垂直居中 */
    font-weight: bold;
    position: static;
    margin-left: auto; /* 将按钮靠右 */
}
.menu .current-user .log-out-button:hover {
    background-color: #ef7b33;
}