{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <link rel="stylesheet" href="{% static 'css/pedro.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <h2>Welcome, {{ username }}! Please enjoy your journey!</h2>
        {% if profile.avatar %}
        <img class="profile-img" src="{{ profile.avatar.url }}" alt="Profile Picture">
        {% else %}
            {% if profile.gender == 'M' %}
                <img class="profile-img" src="{% static 'images/male.png' %}" alt="Default Male Avatar">
            {% elif profile.gender == 'F' %}
                <img class="profile-img" src="{% static 'images/female.png' %}" alt="Default Female Avatar">
            {% else %}
                <img class="profile-img" src="{% static 'images/neutral.jpg' %}" alt="Default Neutral Avatar">
            {% endif %}
        {% endif %}
        <p>Nation: {{ profile.nation }}</p>
        <p>Destination: {{ profile.destination }}</p>
        <p>Age: {{ profile.age }}</p>
        <p>Exchange School: {{ profile.exchange_school }}</p>
        <p>Start Date: {{ profile.start_date }}</p>
        <p>End Date: {{ profile.end_date }}</p>
        <p>Gender: {{ profile.get_gender_display }}</p>
        <div>
            <a href="{% url 'user_matching' username=request.user.username %}" class="button start-journey">Start Your Journey</a>
            <a href="{% url 'update_profile' username=request.user.username %}" class="button edit-profile">Update Profile</a>
            <a href="{% url 'login' %}" class="button log-out">Log Out</a>
        </div>
    </div>
</body>

<div class="wrapper">
    <img src="{% static 'images/pedro.jpeg' %}" class="pedro">
</div>

</html>

<footer>
    <div class="footer-container">
        <div class="footer-text">© 2024 Spring PBC Final Project</div>
        <div class="footer-icon">
            <a href="https://github.com/Bai1026/PBC_Final_Project/tree/main" target="_blank">
                <img src="{% static 'images/github.png' %}" alt="Our GitHub" style="width:20px; height:20px;">
            </a>
            <a href="mailto:b09602017@ntu.edu.tw" target="_blank">
                <img src="{% static 'images/email.png' %}" alt="Our GitHub" style="width:20px; height:20px;">
            </a>
        </div>
    </div>
</footer>
